h1 a {
    color: #7C5687;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

p {
	color: #784687;
	font-weight: bold;
	font-style: italic;

}
.menuitem {
	font-family: Arial;
	width: 13%;
	color: red;
	display: inline-block;
	font-style: normal;
}

.page-header {
    background-color: #DEADED;
    margin-top: 15px;
    padding: 20px 20px 20px 40px;
    float: middle;
    height: 155px;
}

.page-header h1, .page-header h1 a, .page-header, h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
    margin-left: 25px;
}


.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #7C5687;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

img {
	width:117px; 
	height:117px;
	border-radius:50%;
	float: left;
}

